<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Todo App Ever!</title>
    <link rel="stylesheet" href="css/style.css">

     <!-- font awesome-->
    <script src="https://kit.fontawesome.com/4e48c37e28.js" crossorigin="anonymous"></script>

    <!-- google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet"> 

</head>
<body>
    
    <nav>
        <h1><%= user.userName %>'s Todo Page</h1>
        <a href="/logout" class="logOutButton">Logout</a>
    </nav>
    
    <main class="app">
        <div>
            
            <h2><%= user.userName %> has <span class="itemsLeft"><%= left %> </span>things left to do.</h2>
        </div>
            
        <ul class="todo--items">
        <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                
                    <span class=' todoItem <%= el.completed === true ? 'completed' : 'not'%>'><input type="checkbox"><%= el.todo %></   span>

                    <button class='del'> <i class="fa-regular fa-trash-can"></i></button>
                </li>
        <% }) %>    
        </ul>
        
        <section class="addForm">
            <div class="plusButtonCont"><i class="plusButton fas fa-plus"></i></div>
            <form action="/todos/createTodo" method='POST'>
                <input id="addTextBox" class="formTextBox" type="text" placeholder="Enter Todo Item" name='todoItem'>
                <button class="none" type="submit"><i class="fa-solid fa-circle-plus"></i></button> 
            </form>
        </section>
    </main>
    <input id='darkMode' class="submit-form btn input flexSelfEnd" type="button" value="Dark Mode" />

    <script src="js/main.js"></script>
</body>
</html>